<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.manor.currentwidget.library"
      android:versionCode="27"
      android:versionName="0.34">
      
    <uses-sdk android:minSdkVersion="3"/>
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application>

		<!--  broadcast receiver that will process widget updates -->
		<receiver android:name="com.manor.currentwidget.library.CurrentWidget" />
		
		<activity android:name="com.manor.currentwidget.library.CurrentWidgetConfigure"/>
		
		<activity android:name="org.achartengine.GraphicalActivity" />
		
		<activity android:name="com.manor.currentwidget.library.analyze.ResultsActivity" />
		
		<activity android:name="com.manor.currentwidget.library.ExcludedAppsActivity" />


    </application>    
	
</manifest> 